# Data Manipulation

INDEX

1. Adding and removing columns
2. Data Aggregation
3. Grouping and Pivot Tables
4. Selecting Columns
5. Filtering and Sorting Data

# 1. Adding and removing columns

In [1]:
import pandas as pd
data = {'Name': ['Govind', 'Reyhan', 'Risheek'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0   Govind   25
1   Reyhan   30
2  Risheek   35

In [2]:
df['Place'] = ['Dubai', 'UK', 'Sri Lanka']

In [3]:
print(df)

      Name  Age      Place
0   Govind   25      Dubai
1   Reyhan   30         UK
2  Risheek   35  Sri Lanka

In [4]:
df = df.drop('Place', axis = 1)

In [5]:
print(df)

      Name  Age
0   Govind   25
1   Reyhan   30
2  Risheek   35

# 2. Data Aggregation

In [6]:
import pandas as pd
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 30, 35]}
df = pd.DataFrame(data)
df1 = df.groupby('Category')

In [7]:
x1 = df1['Value'].sum()
x2 = df1['Value'].mean()
x4 = df1['Value'].median()
x5 = df1['Value'].max()
x6 = df1['Value'].count()
x7 = df1['Value'].min()

print("------------sum----------------")
print(x1)
print("------------mean----------------")
print(x2)
print("------------median----------------")
print(x4)
print("------------max----------------")
print(x5)
print("------------count----------------")
print(x6)
print("------------min----------------")
print(x7)

------------sum----------------
Category
A    55
B    80
Name: Value, dtype: int64
------------mean----------------
Category
A    18.333333
B    26.666667
Name: Value, dtype: float64
------------median----------------
Category
A    15.0
B    25.0
Name: Value, dtype: float64
------------max----------------
Category
A    30
B    35
Name: Value, dtype: int64
------------count----------------
Category
A    3
B    3
Name: Value, dtype: int64
------------min----------------
Category
A    10
B    20
Name: Value, dtype: int64

In [8]:
import pandas as pd
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 30, 35]}
df = pd.DataFrame(data)
df1 = df.groupby('Category')
y1 = df1['Value'].sum()

In [9]:
pivot_table = df.pivot_table(index='Category', values='Value', aggfunc='sum')
print(pivot_table)

          Value
Category
A            55
B            80

# 4. Selecting Columns

In [10]:
#selecting a column
import pandas as pd
data = {'Name': ['Govind', 'Reyhan', 'Risheek'],
        'Age': [25, 35, 45],
        'City': ['kochi', 'tvm', 'blr']}
df = pd.DataFrame(data)
df1 = df['Name']
df2 = df[['Name', 'Age']]

print(df1)
print(df2)

0     Govind
1     Reyhan
2    Risheek
Name: Name, dtype: object
      Name  Age
0   Govind   25
1   Reyhan   35
2  Risheek   45

# 5. Filtering and Sorting

In [11]:
# Filter rows
x1 = df[df['Age'] > 30]
y1 = df[(df['Age'] > 25) & (df['City'] == 'blr')]
print(x1)
print(y1)

      Name  Age City
1   Reyhan   35  tvm
2  Risheek   45  blr
Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [12]:
#Sorting Data
Q1 = df.sort_values(by='Age')
Q2 = df.sort_values(by=['City', 'Age'], ascending=[True, False])

print(Q1)
print(Q2)

      Name  Age   City
0   Govind   25  kochi
1   Reyhan   35    tvm
2  Risheek   45    blr
      Name  Age   City
2  Risheek   45    blr
0   Govind   25  kochi
1   Reyhan   35    tvm