#  Day 1

# INDEX

1. Dictionaries
2. Lists
3. Sets
4. Tuples

# 1.Dictionaries

Dictionaries are versatile data structures that store key-value pairs. It is an efficient means to organize, manipulate, and represent structured information.

In [17]:
food = {
    "Cusine" : "Indian(Kerala)",
    "FoodItem" : "Chicken Biryani"
}
print(food)
print(len(food))
print(type(food))

{'Cusine': 'Indian(Kerala)', 'FoodItem': 'Chicken Biryani'}
2
<class 'dict'>

# Accessing Items from dictionary

Items can be accessed by referring to its key name, inside square brackets.

In [21]:
food = {
    "Cusine":"Indian(Kerala)",
    "FoodItem":"ChickenBiryani"
}
a = food["Cusine"]
b = food.get("FoodItem")
c = food.keys()
d = food.values()
e = food.items()

print(a)
print(b)
print(c)
print(d)
print(e)

Indian(Kerala)
ChickenBiryani
dict_keys(['Cusine', 'FoodItem'])
dict_values(['Indian(Kerala)', 'ChickenBiryani'])
dict_items([('Cusine', 'Indian(Kerala)'), ('FoodItem', 'ChickenBiryani')])

# Add Items to dictionary

In [25]:
food = {
    "Cusine":"Indian(Kerala)",
    "FoodItem":"Chicken Biryani"
}
food["Variation"] = "Dindigul Thalapakatty Biryani"
print(food)

{'Cusine': 'Indian(Kerala)', 'FoodItem': 'Chicken Biryani', 'Variation': 'Dindigul Thalapakatty Biryani'}

# Append items in the dictionary

In [26]:
food = {
    "Cusine":"Indian(Kerala)",
    "FoodItem":"Chicken Biryani"
}
food["FoodItem"] = "Dosa"
print(food)

{'Cusine': 'Indian(Kerala)', 'FoodItem': 'Dosa'}

# Delete an item from a dictionary

"pop()" is used to delete an item from a dictionary

In [28]:
food = {
    "Cusine":"Indian(Kerala)",
    "FoodItem":"Chicken Biryani",
    "Variation": "Dindigul Thalapakatty Biryani"
}
food.pop("Variation")
print(food)

{'Cusine': 'Indian(Kerala)', 'FoodItem': 'Chicken Biryani'}

Deleting using "del"

In [29]:
food = {
    "Cusine":"Indian(Kerala)",
    "FoodItem":"Chicken Biryani",
    "Variation": "Dindigul Thalapakatty Biryani"
}
del food["FoodItem"]
print(food)

{'Cusine': 'Indian(Kerala)', 'Variation': 'Dindigul Thalapakatty Biryani'}

# Clear a dictionary

In [30]:
food = {
    "Cusine":"Indian(Kerala)",
    "FoodItem":"Chicken Biryani",
    "Variation": "Dindigul Thalapakatty Biryani"
}
food.clear()
print(food)

{}

# 2. Lists

In [33]:
cars = ["BMW M340", "SClass", "VW Polo", "BMW F40"]
print(cars)
print(len(cars))
print(type(cars))

['BMW M340', 'SClass', 'VW Polo', 'BMW F40']
4
<class 'list'>

In [34]:
print(cars[-1])
print(cars[1:3])
print(cars[2:])

BMW F40
['SClass', 'VW Polo']
['VW Polo', 'BMW F40']

In [38]:
if "BMW M340" in cars:
  print("BMW M340 found in the list")

BMW M340 found in the list

#  Add an item to a list

Can be done by using insert()

In [39]:
cars.insert(3, "LandCruiser")
print(cars)

['BMW M340', 'SClass', 'VW Polo', 'LandCruiser', 'BMW F40']

By using append()

In [41]:
cars.append("LandCruiser Prado")
print(cars)

['BMW M340', 'SClass', 'VW Polo', 'LandCruiser', 'BMW F40', 'LandCruiser Prado']

By using extend()

In [46]:
cars = ["BMW M340", "Sclass", "VW Polo"]
carsadd = ["LandCruiser", "FJCruiser", "vellfire"]
cars.extend(carsadd)
print(cars)

['BMW M340', 'Sclass', 'VW Polo', 'LandCruiser', 'FJCruiser', 'vellfire']

# Remove Item from a list

remove() can be used to remove a specific item from a list.

In [47]:
cars = ["BMW M340", "Sclass", "VW Polo"]
cars.remove("VW Polo")
print(cars)

['BMW M340', 'Sclass']

pop() can be used to remove from specified index

In [50]:
cars = ["BMW M340", "Sclass", "VW Polo"]
cars.pop(0)
print(cars)

['Sclass', 'VW Polo']

Keyword "del" can also be used to remove from a specified index

In [51]:
cars = ["BMW M340", "Sclass", "VW Polo"]
del cars[0]
print(cars)

['Sclass', 'VW Polo']

# Clear the list

In [52]:
cars = ["BMW M340", "Sclass", "VW Polo"]
cars.clear()
print(cars)

[]

# Joining 2 lists

By using + operator

In [55]:
shoppinglist1 = ["chilly", "banana", "strawberry"]
shoppinglist2 = ["potato", "tomato", "onion"]
newshoppinglist = shoppinglist1 + shoppinglist2
print(shoppinglist)

['chilly', 'banana', 'strawberry', 'potato', 'tomato', 'onion']

By using extend()

In [57]:
shoppinglist1 = ["chilly", "banana", "strawberry"]
shoppinglist2 = ["potato", "tomato", "onion"]
shoppinglist1.extend(shoppinglist2)
print (shoppinglist1)

['chilly', 'banana', 'strawberry', 'potato', 'tomato', 'onion']

#  Copying list

By using copy()

In [61]:
cars = ["BMW M340", "BMW F40", "VW Polo"]
copiedlist = cars.copy()
print(cars)
print(copiedlist)

['BMW M340', 'BMW F40', 'VW Polo']
['BMW M340', 'BMW F40', 'VW Polo']

In [62]:
cars = ["BMW M340", "BMW F40", "VW Polo"]
copiedlist = list(cars)
print(copiedlist)

['BMW M340', 'BMW F40', 'VW Polo']

# Sorting

By using sort()

Simply using sort() would sort it in ascending order

In [63]:
cars = ["BMW M340", "BMW F40", "VW Polo"]
cars.sort()
print(cars)

['BMW F40', 'BMW M340', 'VW Polo']

To sort in decending order, add reverse=True

In [65]:
cars = ["BMW M340", "BMW F40", "VW Polo"]
cars.sort(reverse=True)
print(cars)

['VW Polo', 'BMW M340', 'BMW F40']

By using reverse() you can sort a list in decending order

In [66]:
cars = ["BMW M340", "BMW F40", "VW Polo"]
cars.reverse()
print(cars)

['VW Polo', 'BMW F40', 'BMW M340']

# 3. Sets

In Python, a set is an unordered and mutable collection of unique elements, where each element must be immutable 
(e.g., numbers, strings, or tuples), and it is defined by enclosing elements within curly braces {}.

In [68]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
print(cars)
print(len(cars))
print(type(cars))

{'BMW M340', 'VW Polo', 'BMW F40'}
3
<class 'set'>

By using set()

In [69]:
cars = set(("BMW M340", "BMW F40", "VW Polo")) 
print(cars)

{'BMW M340', 'VW Polo', 'BMW F40'}

# How to access an item for a set?

In [72]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
print("BMW F40" in cars)
print("BMW 5 series" in cars)

True
False

#  Add an item to set

By using add()

In [76]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
cars.add("LandCruiser")
print(cars)

{'LandCruiser', 'BMW M340', 'VW Polo', 'BMW F40'}

In [78]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
cars1 = {"BMW 5 series", "VW Golf", "Landcruiser"}
cars.update(cars1)
print(cars)

{'BMW 5 series', 'VW Golf', 'VW Polo', 'BMW F40', 'Landcruiser', 'BMW M340'}

#  Remove an item from a set

By using remove()

In [80]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
cars.remove("VW Polo")
print(cars)

{'BMW M340', 'BMW F40'}

By using discard()

In [81]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
cars.discard("VW Polo")
print(cars)

{'BMW M340', 'BMW F40'}

In [84]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
x = cars.pop()
print(x)
print(cars)

BMW M340
{'VW Polo', 'BMW F40'}

# Join 2 sets

In [85]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
cars1 = {"BMW 5 series", "VW Golf", "Landcruiser"}
newcar = cars.union(cars1)
print(newcar)

{'BMW 5 series', 'VW Golf', 'VW Polo', 'BMW F40', 'Landcruiser', 'BMW M340'}

In [87]:
cars = {"BMW M340", "BMW F40", "VW Polo"}
cars1 = {"BMW M340", "VW Polo", "VW Golf"}
newcar = cars.intersection(cars1)
print(newcar)

{'BMW M340', 'VW Polo'}

# 4. Tuples

In Python, a tuple is an ordered and immutable collection of elements, which can be of different data types, and is defined by enclosing the elements within parentheses (). Once a tuple is created, its elements cannot be modified or changed. Tuples are commonly used for grouping related data together.

In [88]:
cars = ("BMW M340", "BMW F40", "VW Polo")
print(cars)
print(len(cars))
print(type(cars))

('BMW M340', 'BMW F40', 'VW Polo')
3
<class 'tuple'>

# Accessing items from a tuple

In [91]:
cars = ("BMW M340", "BMW F40", "VW Polo", "landcruiser", "VW Golf")
print(cars[1])
print(cars[-2])
print(cars[1:3])
print(cars[:3])
print(cars[4:])
print(cars[-2:-1])

BMW F40
landcruiser
('BMW F40', 'VW Polo')
('BMW M340', 'BMW F40', 'VW Polo')
('VW Golf',)
('landcruiser',)

Values in a tuple cannot be changed. If we want to change the values we will have to convert the tuple to a list and the change the values and convert it back to tuple.

In [94]:
cars = ("BMW M340", "BMW F40", "VW Polo", "landcruiser", "VW Golf")
x = list(cars)
x.append("S class")
cars= tuple(x)
print(cars)

('BMW M340', 'BMW F40', 'VW Polo', 'landcruiser', 'VW Golf', 'S class')

In [95]:
cars = ("BMW M340", "BMW F40", "VW Polo", "landcruiser", "VW Golf")
x = list(cars)
x.remove("VW Polo")
cars= tuple(x)
print(cars)

('BMW M340', 'BMW F40', 'landcruiser', 'VW Golf')

In [96]:
cars = ("BMW M340", "BMW F40", "VW Polo", "landcruiser", "VW Golf")
del cars

# Looping Tuple

We use the index of the item while using loops in tuple

In [97]:
cars = ("BMW M340", "BMW F40", "VW Polo", "landcruiser", "VW Golf")
for i in range(len(cars)):
  print(cars[i])

BMW M340
BMW F40
VW Polo
landcruiser
VW Golf

In [98]:
cars = ("BMW M340", "BMW F40", "VW Polo", "landcruiser", "VW Golf")
i = 0
while i < len(cars):
  print(cars[i])
  i = i + 1

BMW M340
BMW F40
VW Polo
landcruiser
VW Golf